.home-container {
  position: fixed;
  width: 900px;
  top: 100px;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
}

.home-inner {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  text-align: center;
}

.name {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.colored {
  color: blueviolet;
}

.job {
  font-size: 25px;
  font-weight: 500;
  color: #a2a2a2;
  margin-bottom: 40px;
}

.button {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  z-index: 5;
}

.button a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-color: blueviolet;
  padding: 10px 40px;
  text-align: center;
  border-radius: 50px;
  transition: all .3s ease;
}

/* .is-hidden {
  transform: rotateX(180deg);
  -webkit-animation: cd-rotate-1-out 1.2s;
  animation: cd-rotate-1-out 1.2s;
}

.is-visible {
  opacity: 1;
  position: relative;
  transform: rotateX(0deg);
  -webkit-animation: cd-rotate-1-in 1.2s;
  animation: cd-rotate-1-in 1.2s;
}

.headline b {
  opacity: 0;
  transform-origin: 50% 100%;
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
} */
