.header-container {
  width: 800px; 
  position: fixed;
  transform: translate(-50%);
  left: 50%;
}

.header-inner {
  width: 100%; 
  height: auto; 
  clear: both; 
  float: left; 
  padding-top: 40px; 
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.header-inner a {
  text-decoration: none;
}

.header-container .logo h1 {
  color: white;
  max-width: 100px;
}

.header-container .menu a {
  color: #fff;
  font-weight: 500;
  transition: all .3s ease;
}

.header-container .menu a:hover {
  color: blueviolet;
}

.header-container a {
  border: none;
}

.header-container .menu ul {
  margin: 0;
  list-style-type: none;
}

.header-container .menu ul li {
  margin: 0 30px 0 0;
  display: inline-block;
}
